.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 1em;
  background-color: rgb(220, 177, 120);
  border: 1px solid rgb(139, 97, 43);
  cursor: pointer;
}
.button:hover {
  background-color: rgb(218, 153, 68);
  border: 1px solid brown;
}

.img {
  width: 30px;
  border: none;
}

.index {
  width: 10%;
  margin: 0 auto;
  background-color: blanchedalmond;
  border: 1px solid rgb(139, 97, 43);
}

.indexText {
  font-size: 1em;
  font-weight: bold;
  color: black;
  padding: 0;
  margin: 1px;
}
